.reviewsTitle{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
.reviewsDiv{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width: 95%;
    
}
.ReviewsFromUsers{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 100px;
}
.writeReviewButton{
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3em;
    margin-top: 50px;
    background-color:rgb(0,200,220);
    font-weight: bold;
}
.reviewsDiv>div>img{
    width: 70px;
}
.fetchReviews{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap:20px;
    overflow: hidden;
    width: 80%;
}
.review{
    height: max-content;
    min-height: 200px;
    min-width: 250px;
    background-color: rgba(130,130,130,0.3);
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.review>p{
    margin: 0;
    font-size: 1.25em;
    text-align: justify;
}
.username{
    font-weight: bold;
    font-size: 1.3em;
    margin: 5px;
}
.nameStar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

@media(max-width: 1000px) {
    .reviewsTitle{
        font-size: 2em;
    }
    .review>p{
        font-size: 0.9em;
    }
    .username{
        font-size: 1em;
    }
    .review{
        min-height: 100px;
        min-width: 200px;
    }
}

@media(max-width: 550px) {
    .reviewsDiv>div>img{
        width: 30px;
    }
}