.regAuthDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.formGroup {
    margin-bottom: 15px;
    width: 250px; 
}

label {
    display: block; /* Блоковое отображение меток */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
}

input {
    background-color: transparent;
    width: 100%; /* Полная ширина полей ввода */
    padding: 10px; /* Внутренний отступ */
    border-radius: 5px; /* Скругление углов */
    border: 1px solid black;
}
Link{
    text-decoration: none;
}
.registerPrompt {
    margin-top: 15px; /* Отступ сверху */
}
.regAuthForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    width: 30%;
}
a{
    text-decoration: none;
}
button{
    background-color: rgb(0, 200, 220);
    font-family: 'Pixelify Sans';
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
#phone, #password{
    width: 230px;
}
.regImg{
    width: 300px;
}

@media(max-width: 768px) {
    .regImg{
        width: 200px;
    }
}
@media(max-width: 600px) {
    .regImg{
        display: none;
    }
    .regAuthForm{
        width: 250px;
    }
}