table {
    width: 90%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-top: 30px;
    gap:20px;
}
.addButton{
    align-self: center;
}
.title{
    font-size: 2em;
    font-weight: bold;
    text-align:center;
}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 600px) {
    .buttons{
        flex-wrap: wrap;
    }
}