.progressDiv{
    width: inherit;
}
.yourProgress{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.aimdiv{
    padding-left: 30px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.selectAim{
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.3em;
}
.aimAndProgressDiv{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items:flex-start;
}
.chart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.complTr, .trAim{
    font-size: 1.3em;
    margin: 5px;
}
button{
    background-color: rgb(0, 200, 220);
    font-family: 'Pixelify Sans';
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}

@media(max-width: 500px) {
    .complTr, .trAim{
        font-size: 0.7em;
    }
    .aimdiv{
        padding-left: 0;
    }
    .yourProgress{
        font-size: 1.2em;
    }
    button{
        font-size: 0.7em;
        padding: 5px;
    }
    .chart{
        width: 120px;
    }
    .aimAndProgressDiv{
        padding: 10px;
    }
    rect{
        width: 200px;
    }
}