.image-selection {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.image-option {
    margin: 5px;
    border: 2px solid transparent; /* Default border */
    transition: border-color 0.3s;
}

.image-option:hover {
    border-color: #007bff; /* Highlight on hover */
}

#addPlInput{
    width: 90%;
}

@media(max-width: 600px) {
    
}