header {
    display: flex;
    position: sticky; 
    top: 0;
    justify-content: space-between;
    padding: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 1000; 
    align-items:center;
}

.logoutButton, .themeButton, .langButton {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2em;
    font-weight: bold;
    border-width: 3px;
    border: none;
    background-color: rgb(0, 200, 220);
}

.options {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.userName {
    font-size: 1.5em;
}
.profileImage {
    width: 70px; 
    height: 70px; 
    display: inline-block;
}
.homelink{
    font-size: 1.4em;
}

@media(max-width: 650px) {
    .options{
        font-size: 0.8em;
        gap: 5px;
    }
    header>a>img{
        width: 150px;
    }
    .profileImage{
        width:40px;
        height: auto;
    }
    .logoutButton{
        padding: 5px;
    }
}

@media(max-width: 450px) {
    .options{
        font-size: 0.6em;
    }
    header>a>img{
        width: 100px;
    }
}